@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background: #f2f4f8;
    height: 100%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.hides{
    display: none;
  }
.table{
    width: 50%;
    table-layout: fixed;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    border-collapse: collapse;
    display: block;
}

.table-body{
    display: block;
    width: 50%;
    overflow: auto;
    height: 77vh;
    background: #fff;
    position: absolute;
    z-index: 1;

}
.table thead tr{
    display: block;
    border-radius: 5px;
}
.table thead{
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #111;
    /* background: #111; */
}
.table th,
.table td{
    padding: 0.3rem 1rem;
    text-align: left;
    min-width: 100px;
    font-size: 1.2rem;
  }
  
  .table th {
    padding: 0.5rem 1rem;
  }
  /* .table td {
    border-bottom: 1px solid var(--table-separator);
  } */
  .table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  .table-toggle-button {
    font: bold 16px arial;
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--button);
    /* border: 2px solid var(--button); */
    background: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  
  .table-toggle-button:hover {
    transform: translateY(-2px) scale(1.005) translateZ(0);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.11),
      0 6px 9px var(--card-hover);
  }
  
  .table-toggle-button:active {
    transform: translateY(2px) scale(0.995) translateZ(0);
    box-shadow: none;
  }
  
header{
    width: 100%;
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    display: flex;
    margin: 20px 30px;
    height: auto;
    float: right;
}
button{
    padding: 8px 18px;
    border-radius: 10px;
    outline: none;
    border-style: none;
    border: 1px solid #111;
    font-size: 16px;
    letter-spacing: 1.2px;
    cursor: pointer;
}

.container{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.heading{
    min-width: 25px;
    margin: 20px auto;
    padding:15px 20px;
    text-align: center;
    height: auto;
    font-size: 26px;
    font-weight: 400;
    color:#4B5563 ;
    box-shadow: 0 14px 26px rgb(0 0 0 / 4%);
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.hide{
    display: none;
}
  #keycode-display{
   font-size: 40vmin;
   color:#4B5563 ;
}
.wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    display: none;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 25rem;
    width: 100%;
}
.item{
    width: 22%;
    height: 100px;
    box-shadow: 0 14px 26px rgb(0 0 0 / 4%);
    border: 1px solid rgba(0, 0, 0, 0.11);
    transition: all 0.3s ease-in;
}
.show{
    display: block;
}
.item:hover{
    cursor: pointer;
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px rgba(220, 233, 255, 0.48);
}
p{
    text-align: center;
}

span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.title{
    background-color: lightblue;
    width: 100%;
    padding:5px 0;
}
.social{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10px;
}
a{
    text-decoration: none;
    color: #dc143c;
    font-weight: 600;
}



@media(max-width:800px){
    .container{
        width: 80%;
    }
    .items{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 20px;
        justify-content: space-evenly;
        width: 100%;
        top: 35rem;
    }
    .item{
        width: 100%;
    }
    .title{
        padding: 5px 10px;
    }
    .heading{
        width: 100%;
    }

}
@media (max-width: 600px) {
    body {
      overflow-y: auto;
    }
    
    .table {
      width: 100%;
      margin-top: 4rem;
    }
    .table-body {
      height: 60vh;
    }
  }
  
  

@media (max-width:500px){
    .container{
        width: 100%;
    }
    #keycode-display{
       position: relative;
       top: -50px;
     }
    .items{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        width: 100%;
        top: 20rem;
        justify-content: inherit;
    }
    .social{
        top: 60px;
    }
    
}

@media (max-width:380px){
    .social{
        top: 150px;
    }
}
